<nav data-th-fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid text-white">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">AHAD-AI</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{''}">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="col-2">
                <a class="btn btn-primary col mx-2 px-4 py-2" th:href="@{'/login'}">Login</a>
                <a class="btn btn-warning col mx-2 px-4 py-2" th:href="@{'/registration'}">Register</a>
            </div>
        </div>
    </div>
</nav>